footer.site-footer
  .container.footer-container
    div#contact
      h2.footer-header Say Hello
      a.footer-link(href="mailto:kevin.norris.90@gmail.com" target="_top") kevin.norris.90@gmail.com
    div
      h2.footer-header Social
      a.social-icon(href='https://www.linkedin.com/in/kevin-norris-3292a9142/' target='_blank' rel='noopener noreferrer')
        i.fa.fa-linkedin(aria-hidden="true")
      a.social-icon(href='https://github.com/kevinnorris' target='_blank' rel='noopener noreferrer')
        i.fa.fa-github(aria-hidden="true")
      a.social-icon(href='https://www.freecodecamp.com/kevin-norris' target='_blank' rel='noopener noreferrer')
        i.fa.fa-free-code-camp(aria-hidden="true")