header.site-header
    .container.header-container
      nav.site-nav#topNav
        a#logo(href='/') Kevin
        a(href='/about') About
        a.active(href='/projects') Projects
        a(href='/contact') Contact
        a.icon(href='javascript:void(0);', onclick='toggleNavigation()') &#9776;