header.site-header
    .container.header-container
      nav.site-nav#topNav
        a.logo(href='/')
          span.firstLetter
          span.rest evin
        span.links
          a.active(href='/projects') Projects
          a(href='/contact') Contact