@import "variables";

// Bootstrap grid
$enable-flex: true;
$enable-grid-classes: true;

@import '../../bootstrap-4/scss/_variables.scss';
@import '../../bootstrap-4/scss/_mixins.scss';
@import '../../bootstrap-4/scss/_reboot.scss';
@import '../../bootstrap-4/scss/_grid.scss';

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container--main {

}

.site-header {
  top: 0;
  width: 100%;
  background: $secondaryBackground;
  color: $titles;
  font-family: 'Montserrat', sans-serif;
  border-bottom: 6px solid grey;
  margin-bottom: 25px;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;

  a {
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
  }

  .links {
    font-weight: bold;

    a {
      color: $titles;
      &:hover {
        color: $action;
      }
    }
  }
}

a.logo {
    color: $action;
    font-family: 'Sonsie One';
    padding: 0;

    .firstLetter {
      &:before{
        position: absolute;
        background: lightGreen;
        color: white;
        border-radius: 0 0 50% 50%;
        content: "K";
        height: 90px;
        width: 90px;
        top: 0;
        // margin-left: 20px;
        font-size: 4rem;
        line-height: 5.5rem;
        // font-family: Sonsie One;
        text-align: center;
      }
    }

    .rest {
      margin-left: 100px;
    }
  }

@media (max-width: 500px) {
  .site-nav {
    height: 40px;

    a {
      padding: 5px;
      font-size: 0.8rem;
    }
  }
  
  a.logo .firstLetter {
    &:before{ 
      height: 60px;
      width: 60px;

      font-size: 3rem;
      line-height: 3.5rem;
    }
  }

  a.logo .rest {
    margin-left: 65px;
  }
}

@media (max-width: 340px) {
  .site-nav a {
    font-size: 0.7rem;
  }
}
