@import "variables";

// Bootstrap grid
$enable-flex: true;
$enable-grid-classes: true;

@import '../../bootstrap-4/scss/_variables.scss';
@import '../../bootstrap-4/scss/_mixins.scss';
@import '../../bootstrap-4/scss/_reboot.scss';
@import '../../bootstrap-4/scss/_grid.scss';

@mixin header-footer {
  width: 100%;
  background: $secondaryBackground;
  color: $titles;
  font-family: 'Montserrat', sans-serif;
}

@mixin img {
  width: 100%;
  height: auto;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
  background: $background;
  min-height: 100vh;
  padding-bottom: 140px;
}

.btn {
  background: darken($action, 5);
  color: white;
  border: solid 1px darken($action, 20);
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 10px;
  text-decoration: none;

  &:hover,&:focus,&:active {
    text-decoration: none;
    color: white;
    background: darken($action, 15);
  }
}

.bw {display: block;}
.clr {display: none;}

.devicon-plain {
  max-width: 3rem;

  path {
    fill: grey;
  }
}

.img-wrapper {
  text-align: center;
}

.main-heading {
  color: $titles;
  text-align: center;
  font-size: 3rem;
}

.note {
  font-size: 0.8rem;
  font-style: italic;
}

.project {
  position: relative;
  box-sizing: border-box;
  border-radius: 50%;
  border: 8px solid $divider;
  overflow: hidden;
  margin-bottom: 20px;

  &:hover{
    border-color: $secondaryBackground;
    
    .project-label{
      bottom: 0;
    }
    
    .bw{display: none;}
    .clr{display: block;}
  }
}

#projects {
  margin-top: 20px;
}

.project-img {
  @include img;
  border: 6px solid $divider;
  border-radius: 5px;
}

.project-label {
  position: absolute;
  height: 33%;
  width: 100%;
  background: rgba(13,19,19,0.9);
  font-family: Montserrat;
  bottom: -33%;
  transition: 0.2s linear;

  .project-title{
    color: $action;
    text-align: center;
    margin: 6px 0;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
  }

  p{
    text-align: center;
    color: $text;
    margin-top: 0;
  }

  :first-child {
    margin-top: 6px;
  }
}

.site-header {
  @include header-footer;
  top: 0;
  border-bottom: 6px solid $divider;
  margin-bottom: 40px;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;

  a {
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
  }

  .links {
    font-weight: bold;
    font-size: 1.3rem;

    a {
      color: $titles;
      &:hover {
        color: $action;
      }
    }

    :first-child {
      padding-left: 0;
    }

    :last-child {
      padding-right: 0;
    }
  }
}

a.logo {
    color: $action;
    font-family: 'Sonsie One';
    padding: 0;

    .firstLetter {
      &:before{
        position: absolute;
        background: $action;
        color: white;
        border-radius: 0 0 50% 50%;
        content: "K";
        height: 90px;
        width: 90px;
        top: 0;
        // margin-left: 20px;
        font-size: 4.5rem;
        line-height: 4.5rem;
        text-align: center;
      }
    }

    .rest {
      margin-left: 94px;
    }
  }

.site-footer {
  @include header-footer;
  position: absolute;
  bottom: 0;
  border-top: 6px solid $divider;
  padding-top: 5px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  text-align: center;
}

.footer-header {
  margin: 0;
  font-size: 2rem;
}

.footer-link {
  color: $text;
  cursor: pointer;

  &:hover,&:focus,&:active {
    color: $action;
  }
}

.social-icon {
  color: $text;
  cursor: pointer;
  font-size: 3rem;
  padding: 0 10px;
  text-decoration: none;

  &:hover,&:focus,&:active {
    color: $action;
    text-decoration: none;
  }
}

.tech-title {
  font-weight: bold;
}

.text-wrapper {
  p {
    text-align: justify;
  }
}

.title {
  text-align: center;
  font-family: 'Sonsie One';

  .firstLetter {
    font-size: 150%;
  }
}

.thumbnail-img {
  @include img;
}

@media (max-width: 991px) {
  .btn {
    font-size: 1rem;

  }
}

@media (max-width: 767px) {
  .project-label .project-title {
    font-size: 1rem;
  }
  .site-nav {
    .links {
      font-size: 1rem;
    }

    a {
      padding: 10px;
    }
  }
}

@media (max-width: 575px) {
  body {
    padding-bottom: 213px;
  }
  #contact {
    margin-bottom: 10px;
  }
  .footer-container {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .site-nav {
    height: 40px;

    a {
      padding: 5px;
      font-size: 0.8rem;
    }
  }
  
  a.logo .firstLetter {
    &:before{ 
      height: 60px;
      width: 60px;

      font-size: 3rem;
      line-height: 3rem;
    }
  }

  a.logo .rest {
    margin-left: 65px;
  }
}

@media (max-width: 380px) {
  .btn {
    padding: 5px 10px;
    font-size: 0.85rem;
  }

  .project-label :first-child {
    margin-top: 0;
  }

  .project-label .project-title {
    font-size: 1.3rem;
  }

  .site-nav a {
    font-size: 0.7rem;
  }

  .title {
    font-size: 1.5rem;
  }
}
