extends layout

include includes/mixins.pug

block content
  +project(
    '../assets/images/barsvp.jpg',
    'BaRSVP',
    'Nightlife Coordination App',
    'https://barsvp.herokuapp.com/',
    'https://github.com/kevinnorris/nightlifeCoordinator'
  )
    p
      a(href='')

