extends layout

include includes/mixins.pug

block content
  +project(
    '../assets/images/boilerplate.jpg',
    'Full Stack Boilerplate',
    '',
    '',
    'https://github.com/kevinnorris/FCC_Dynamic_Web_Boilerplate'
  )
    p

