extends layout

include includes/mixins.pug

block content
  +project(
    '../assets/images/boilerplate.jpg',
    'Full Stack Boilerplate',
    '',
    '',
    'https://github.com/kevinnorris/FCC_Dynamic_Web_Boilerplate'
  )
    p
      | I wanted to use react on the front end for my full stack projects. I decided to build by own 
      | boilerplate instead of using an existing one to understand the build tools involved in creating 
      | a full stack React/Redux/Express 
      a(href='http://es6-features.org/#Constants') ES6 
      | application. 
    p
      | The project was built using webpack, Babel and Sass. I used Passport JS for authentication with 
      | third parties and JSON Web Tokens for client/server authentication. Data was stored in MongoDB
      |  and accessed using mongoose.
    p
      | The boiler plate was my first fullstack project. Through building it I learned how to use mongoose/MongoDB
      | , passport, eslint and I solidified my understanding of webpack and babel.
    p
      | In the first iteration of the boilerplate I grouped files by function. After building the Voting app 
      | project I realised the limitations of this architecture and refactored the boilerplate to use a 
      | feature based architecture and 
      a(href='https://github.com/erikras/ducks-modular-redux') Ducks
      | .

    hr
    .row.tech-icon-wrapper
      .col-sm-6.languages
        p.tech-title Languages
        ul
          li
            a(href='https://www.javascript.com/') JavaScrip
          li
            a(href='http://sass-lang.com/') Sass
          li
            p HTML
      .col-sm-6.frameworks
        p.tech-title Frameworks
        a(href='https://expressjs.com/') Express   
      .col-sm-6.libraries
        p.tech-title Libraries                   
        ul
          li
            a(href='https://facebook.github.io/react/') React
          li
            a(href='http://redux.js.org/') Redux
          li
            a(href='http://mongoosejs.com/') Mongoose
          li
            a(href='https://react-bootstrap.github.io/') React Bootstrap
          li
            a(href='http://passportjs.org/') Passport JS
          li
            a(href='https://jwt.io/') JSON Web Tokens   
          li
            a(href='https://github.com/enhancv/popup-tools') Popup Tools
      .col-sm-6.database
        p.tech-title Database
        a(href='https://www.mongodb.com/') MongoDB
      .col-sm-6.tools
        p.tech-title Tools
        ul
          li
            a(href='https://webpack.github.io/') Webpack
          li
            a(href='https://babeljs.io/') Babel

