extends layout

include includes/mixins.pug

block content
  +project(
    '../assets/images/bookTrader.png',
    'Book Trader',
    'Book trading app',
    'https://book-trader-.herokuapp.com/',
    'https://github.com/kevinnorris/bookTrading'
  )
    p
    