extends layout

include includes/mixins.pug

block content
  +project(
    '../assets/images/bookTrader.png',
    'Book Trader',
    'Book trading app',
    'https://book-trader1.herokuapp.com/',
    'https://github.com/kevinnorris/bookTrading'
  )
    p
      | This is the first project that was built using react boilerplate. After completing a number of fullstack 
      | react applications and gaining a good understanding of the tooling, I wanted to take my react applications 
      | to the next level. React boilerplate provided the base to do that, built on a foundation of best practices 
      | for building scalable react applications.
    p
      | While react boilerplate is designed for large projects using it to build smaller demo projects provided 
      | a great learning experience for building large scalable applications.
    p
      | With react-boilerplate I learned to use new tools and libraries including:
    ul
      li
        a(href='https://github.com/styled-components/styled-components') Styled Components
      li
        a(href='https://github.com/redux-saga/redux-saga') Redux-Saga
      li
        a(href='https://facebook.github.io/immutable-js/') ImmutableJS
      li
        a(href='https://github.com/reactjs/reselect') Reselect

    p
      | Each of these tools provided improvements on my previous react applications. Styled components made 
      | styling a react application much simpler, keeping the CSS for a components tied solely to that component 
      | and allowed even more flexibility than Sass.
    p
      | Redux-Saga was an immense step up from Redux Thunk, greatly simplifying the client code for asynchronous 
      | interactions with the server and other resources. 
    p
      | ImmutableJS provided cleaner and more understandable reducer code due to its methods for creating a new 
      | updated object, and ensured the immutability of the application state.
    p
      | Reselect made accessing various portions of the state from components, sagas, and anywhere else in the 
      | application much more straightforward and limited the state accessed to only those portions that were 
      | required.
    p
      | In addition to familiarizing myself with these new tools, I also learned a lot about the structuring of 
      | scalable react applications from the demo application react boilerplate provides. 
    p 
      | As well as the tools and libraries that are a part of react boilerplate I used MongoDb and mongoose 
      | for data storage and access, Passport JS for authentication and react-bootstrap.
    hr
    p 
      | This project was built with 
      a(href='') react-boilerplate
      | .
    p Additional dependencies:
    .row.tech-icon-wrapper
      .col-sm-6.libraries
        p.tech-title Libraries                   
        ul     
          li
            a(href='https://react-bootstrap.github.io/') React Bootstrap
          li
            a(href='http://mongoosejs.com/') Mongoose
          li
            a(href='http://passportjs.org/') Passport JS
          li
            a(href='https://jwt.io/') JSON Web Tokens
      .col-sm-6.database
        p.tech-title Database
        a(href='https://www.mongodb.com/') MongoDB