extends layout

include includes/mixins.pug

block content
  +project(
    '../assets/images/compareStocks.png',
    'Compare Stocks',
    '',
    'https://compare-stocks.herokuapp.com/',
    'https://github.com/kevinnorris/compareStocks'
  )
    p
      | For this project, WebSockets were used to display stock data. The stocks shown in the chart can be updated 
      | by any user and the change will show for all users.
    p 
      | I used 
      a(href='https://www.quandl.com/') Quandl 
      | for the stock data and 
      a(href='https://www.highcharts.com/') HighCharts 
      | to display it.
    p
      | This project provided an interesting learning experience integrating a third-party application 
      | (HighCharts) into my own application. Really digging into the documentation and capabilities of 
      | HighCharts allowed me to greatly alter the style and extract different data comparison methods.
    hr
    .row.tech-icon-wrapper
      .col-sm-6.languages
        p.tech-title Languages
          ul
            li
              a(href='https://www.javascript.com/') JavaScrip
            li
              a(href='http://sass-lang.com/') Sass
            li
              a(href='https://pugjs.org/api/getting-started.html') Pug             
      .col-sm-6.tools
        p.tech-title Tools
        a(href='https://webpack.github.io/') Webpack
        a(href='https://babeljs.io/') Babel
