extends layout

include includes/mixins.pug

block content
  +project(
    '../assets/images/largeImages/d3_big.jpg',
    'D3 Projects',
    '',
    '',
    ''
  )
    p
      | Built 5 D3 projects:
    ul
      li
        p(style="margin: 0;")
          a(href='https://kevinnorris.github.io/MeteoriteMap/') Map Global Data 
          | (
          a(href='https://github.com/kevinnorris/MeteoriteMap') source
          | )
      li
        a(href='https://codepen.io/kevinnorris/full/QKXray/') Force Directed Graph
      li
        a(href='https://codepen.io/kevinnorris/full/NRVAEK/') Heat Map
      li
        a(href='https://codepen.io/kevinnorris/full/RGOPyL/') Scatter Plot
      li
        a(href='https://codepen.io/kevinnorris/full/WGYXVJ/') Bar Chart 
    hr
    .row.tech-icon-wrapper
      .col-sm-6.languages
        p.tech-title Languages
        ul
          li
            a(href='https://www.javascript.com/') JavaScrip
          li
            a(href='http://sass-lang.com/') Sass
          li
            p HTML  
      .col-sm-6.libraries
        p.tech-title Libraries 
        a(href='https://d3js.org/') D3


