extends layout

include includes/mixins.pug

block content
  +project(
    '../assets/images/frontend.jpg',
    'Frontend Projects',
    '',
    '',
    ''
  )
    p
      | Built 10 front end projects: 
    ul
      li
        a(href='https://codepen.io/kevinnorris/full/yJwbKj/') Simon Game
      li
        a(href='https://codepen.io/kevinnorris/full/wWRwGp/') Tic Tac Toe Game
      li
        a(href='https://codepen.io/kevinnorris/full/YwapEZ/') Pomodoro Clock
      li
        a(href='https://codepen.io/kevinnorris/full/BzYjmN/') Twitch Viewer
      li
        a(href='https://codepen.io/kevinnorris/full/wWdAVz/') Wikipedia Viewer
      li
        a(href='https://codepen.io/kevinnorris/full/JKWLwX/') Local Weather App
      li
        a(href='https://codepen.io/kevinnorris/full/qbZzXv/') Personal Portfolio
      li
        a(href='https://codepen.io/kevinnorris/full/bEqrje/') Calculator
      li
        a(href='https://codepen.io/kevinnorris/full/adpbPq/') Random Quote Machine
      li
        a(href='https://codepen.io/kevinnorris/full/BzpaRV/') Tribute Page

    p 
      | These projects grew my understanding of Javascript and CSS. They also taught me a lot about AJAX 
      | requests and API consumption. 
    hr
    .row.tech-icon-wrapper
      .col-sm-6.languages
        p.tech-title Languages
          ul
            li
              a(href='https://www.javascript.com/') JavaScrip
            li
              a(href='http://sass-lang.com/') Sass
            li
              p CSS         
      .col-sm-6.libraries
        p.tech-title Libraries  
        ul
          li
            a(href='https://jquery.com/') JQuery
          li              
            a(href='http://getbootstrap.com/') Bootstrap



