extends layout

include includes/mixins.pug

block content
  +project(
    '../assets/images/largeImages/multilingual_big.jpg',
    'Multilingual Portfolio',
    '',
    'http://sigridnorris.com',
    ''
  )
    p
     | This project was built for a client as a personal portfolio. 
    p
      | The project was built using Express JS for the server and the Pug 
      | templating engine for the static content. Sass was used for the styling. i18n 
      | was used to provide multilingual support.
    p
      | As the site only serves static content the goal was to include as few dependencies 
      | and use as little javascript as possible to ensure a fast load time and enjoyable 
      | experience to all visitors. Mobile usability and responsiveness for various device sizes 
      | was also a top priority.
    p
      | Working with the client through the design process and then providing tweaks and changes 
      | during development to create a site they were excited about was an enjoyable and rewarding process.

    hr
    .row.tech-icon-wrapper
      .col-sm-6.languages
        p.tech-title Languages
          ul
            li
              a(href='https://www.javascript.com/') JavaScrip
            li
              a(href='http://sass-lang.com/') Sass
            li
              a(href='https://github.com/pugjs/pug') Pug
      .col-sm-6.frameworks
        p.tech-title Frameworks
        a(href='https://expressjs.com/') Express          
      .col-sm-6.libraries
        p.tech-title Libraries                   
        a(href='https://github.com/mashpie/i18n-node') i18n      
      .col-sm-6.tools
        p.tech-title Tools
        a(href='https://babeljs.io/') Babel
