extends layout

include includes/mixins.pug

block content
  +project(
    '../assets/images/pintclone.jpg',
    'Pintclone',
    'A Pinterest Clone',
    'https://pintclone.herokuapp.com/',
    'https://github.com/kevinnorris/pintclone'
  )
    p
