extends layout

include includes/mixins.pug

block content
  +project(
    '../assets/images/quickPoll.png',
    'Quick Poll',
    'Voting App',
    'https://qckvote.herokuapp.com/',
    'https://github.com/kevinnorris/votingApp'
  )
    p

