extends layout

include includes/mixins.pug

block content
  +project(
    '../assets/images/quickPoll.png',
    'Quick Poll',
    'Voting App',
    'https://qckvote.herokuapp.com/',
    'https://github.com/kevinnorris/votingApp'
  )
    p
      | The voting app was my first complex full stack project and helped me become more familiarized with  
      a(href='https://facebook.github.io/react/') React
      | , 
      a(href='http://redux.js.org/') Redux
      | , 
      a(href='https://github.com/gaearon/redux-thunk') Redux Thunk
      | , and  
      a(href='https://expressjs.com/') Express
      | . This project gave me a deeper understanding of Redux state manipulation, API design, document-oriented 
      | databases,  and how data flows between the client and server in a single page application.
    p
      | The 
      a(href='https://www.npmjs.com/package/popup-tools') popup-tools 
      | package helped greatly with implementing a smooth third party authentication experience.
    p
      | This project taught me how difficult component alteration and reuse can be with a function-based file 
      | architecture. It was an invaluable learning experience, pushing me to read up on and 
      | implement react best practices in the future and providing me with a solid understanding of their 
      | benefits over alternative architectures.
    hr
    p 
      | This project was built with my 
      a(href='/boilerplate.html') fullstack boilerplate
      | .

